# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
*.sqlite3
backend/uploads/

# Node
node_modules/
.next/
out/
dist/

# Env files
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
